[submodule "manufacturers/eurorack-4ms-SWN"]
	path = manufacturers/eurorack-4ms-SWN
	url = git@git-rhino:rhinocerose/eurorack-4ms-SWN
[submodule "manufacturers/eurorack-4ms-SMR"]
	path = manufacturers/eurorack-4ms-SMR
	url = git@git-rhino:rhinocerose/eurorack-4ms-SMR
[submodule "manufacturers/eurorack-4ms-DLD"]
	path = manufacturers/eurorack-4ms-DLD
	url = git@git-rhino:rhinocerose/eurorack-4ms-DLD
[submodule "manufacturers/eurorack-4ms-pcb-SCMv3"]
	path = manufacturers/eurorack-4ms-pcb-SCMv3
	url = git@git-rhino:rhinocerose/eurorack-4ms-pcb-SCMv3
[submodule "manufacturers/eurorack-4ms-PEG-v2"]
	path = manufacturers/eurorack-4ms-PEG-v2
	url = git@git-rhino:rhinocerose/eurorack-4ms-PEG-v2
[submodule "manufacturers/eurorack-4ms-QCDv2"]
	path = manufacturers/eurorack-4ms-QCDv2
	url = git@git-rhino:rhinocerose/eurorack-4ms-QCDv2
[submodule "manufacturers/eurorack-4ms-QPLFO-v22"]
	path = manufacturers/eurorack-4ms-QPLFO-v22
	url = git@git-rhino:rhinocerose/eurorack-4ms-QPLFO-v22
[submodule "manufacturers/eurorack-4ms-SCM"]
	path = manufacturers/eurorack-4ms-SCM
	url = git@git-rhino:rhinocerose/eurorack-4ms-SCM
[submodule "manufacturers/eurorack-4ms-STS"]
	path = manufacturers/eurorack-4ms-STS
	url = git@git-rhino:rhinocerose/eurorack-4ms-STS
[submodule "manufacturers/eurorack-mutable"]
	path = manufacturers/eurorack-mutable
	url = git@git-rhino:rhinocerose/eurorack-mutable
[submodule "manufacturers/eurorack-jakplugg"]
	path = manufacturers/eurorack-jakplugg
	url = git@git-rhino:rhinocerose/eurorack-jakplugg
[submodule "manufacturers/eurorack-4ms"]
	path = manufacturers/eurorack-4ms
	url = git@git-rhino:rhinocerose/eurorack-4ms
